<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>CraftyBrew: {% block title %}Local breweries around Charlotte, NC{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Norican" rel="stylesheet">

    {% block styles %}{% endblock %}
</head>
<body>
<div class="container-fluid">
    <header>
        <div class="row">
            <div class="col-sm">
                <div>
                    <a class="logo" href="{{ path('web.default.index') }}">CraftyBrew</a>
                </div>
            </div>
            <div class="col-md d-none d-md-block text-right">
                <aside>Local breweries around Charlotte, NC</aside>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <nav class="navbar navbar-expand-lg">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a href="{{ path('web.default.about') }}" title="About CraftyBrew" class="nav-link" aria-label="About CraftyBrew">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('web.default.contact') }}" title="Contact CraftyBrew" class="nav-link" aria-label="Contact CraftyBrew">Contact</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="button">Search</button>
                    </form>
                </nav>
            </div>
        </div>
    </header>

    <main>
        {% block body %}{% endblock %}
    </main>

    <footer class="pt-3 pb-3">
        <div class="text-right pr-5">
            <div class="col-md">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <i class="fa fa-facebook"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-twitter"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-instagram"></i>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ path('web.default.index') }}" title="CraftyBrew Home">
                            <i class="fa fa-home"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="text-left pl-5">
            <div class="col-md">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <small>
                            Copyright {{ 'now' | date('Y') }} Ken Stanley. All rights reserved.
                        </small>
                    </li>
                    <li class="list-inline-item">
                        <small>
                            <a href="{{ path('web.default.terms') }}" title="Terms of Service">
                                Terms of Service</a>
                        </small>
                    </li>
                    <li class="list-inline-item">
                        <small>
                            <a href="{{ path('web.default.privacy') }}" title="Privacy Policy">
                                Privacy Policy</a>
                        </small>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</div>

{% block javascript %}{% endblock %}
</body>
</html>
